// fonts
//@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Roboto+Mono:wght@300&family=Sanchez&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Nunito+Sans:wght@200&family=Roboto+Mono:wght@300&family=Sanchez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito:wght@300;800&family=Roboto+Mono:wght@300;400&family=Sanchez&display=swap');

// Fonts (CSS rules)
$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-serif: 'Sanchez', serif; 
//$font-family-sans-serif: 'Montserrat', sans-serif;
$font-family-monospace: 'Roboto Mono', monospace;

// Colors
$baby-blue: #d2e3f3;
$teal: #047C90;
$dark-blue: #003660;
$white: #FFFFFF;
$green: #78A540; 
$magenta: #900C3F;
$white: #FFFFFF;
$off-white: #F7F7F7; 
$gray: #ADADAD; 
$black: #000000; 

// scss variables
$presentation-title-slide-text-align: "left";
//$presentation-font-size-root: 23px;
$body-bg: $white;
$link-color: $green; 
$code-color: $magenta;
$code-bg: $white;
$code-block-font-size: 0.4em;
$code-block-bg: $off-white;

/*-- scss:rules --*/

// HTML selectors //


/* =Typography
-----------------------------------------------------------------------------*/
body {
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, Serif;
  font-size: 0.90em;
  line-height: 1.5em;
  background-color: #faf8f8;
}

pre>code {
  font-family: 'Hack', 'Source Code Pro', 'Courier New', 'Courier', monospace;
  font-size: $font-size-base * 1.02;
  background-color: #edf0f5;
}

form,
input[type="search"],
select[multiple="multiple"] {
  font-family: 'Fira Sans', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Fira Sans', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #36454f;
  font-weight: bold;
}

h1 {
  font-size: 1.5em;
  padding-bottom: 1em;
  line-height: 1.6em;
}

h2 {
  font-size: 1.3em;
  border-bottom: 1px solid #b3cde0;
}

h2 a {
  border-bottom: none;
}

h3 {
  font-size: 1.1em !important;
  border-bottom: 1px solid #b3cde0;
}

h3 a {
  border-bottom: none;
}

h4 {
  font-size: 1.1em !important;
  border-bottom: 1px solid #b3cde0;
}

h4 a {
  border-bottom: none;
}

h5 {
  font-size: .9em !important;
  border-bottom: 1px solid #b3cde0;
}

h5 a {
  border-bottom: none;
}

h6 {
  font-size: .8em;
}

a {
  color: #36454f;
  text-decoration: none;
  border-bottom: dotted 1px #A1A3A1;
}

a:hover {
  text-decoration: underline;
}

a.active, 
a.current-menu-item {
  // background-color: gray; 
  color: white;             
}


hr {
  border-top: 1px solid #b3cde0;
  margin-top: 5ex;
  margin-bottom: 5ex;
  max-width: 100%;
}

blockquote {
  color: #36454f;
  background: #e9e9e9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-style: normal;
  font-size: 95%;
}

blockquote p {
  color: #36454f;
  display: inline;
}

blockquote:before {
  color: #aaa;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.table {
  --bs-table-bg: @faf8f8 !important;
}

td, th {
  background-color: #faf8f8 !important;
}

table th,
table td {
  border-bottom: 0px !important;
  padding: 0.2em .2em;
}

table {
  width: 100% !important;
}

ul {
  list-style: square;
}

dd {
  margin-left: 2em;
}


// figure caption

figcaption {
  font-size: $font-size-base * .87 !important;
  color: $teal !important;
  margin-top: -.44em !important;
  line-height: 1.5em !important;
  text-align: left;
}

div.quarto-layout-row:nth-child(2) > div:nth-child(1) {
  font-size: $font-size-base * 1 !important;
  font-weight: bold;
  color: $teal !important;
}


// page title

.title {
  font-size: $font-size-base * 1.5;
  color: $teal !important;
  border-bottom: 3px solid $teal;
  border-radius: 0px;
  margin-bottom: -0.5rem;
  padding-bottom: 0;
  // text-align: right;
}


// tabset
.custom-tabset-title{
  font-size: $font-size-base * .87;
  font-weight: bold;
  border-bottom: 1px solid #b3cde0;
  color: $teal;
  //position: absolute; 
}

.custom-tabset-title2{
  font-size: $font-size-base * .87;
  font-weight: bold;
  border-bottom: 1px solid #b3cde0;
  color: $dark-blue;
  //position: absolute; 
}

.navbar-nav{
    font-size: $font-size-base * .9;
}

.footer-items{
    font-size: $font-size-base * .8;
}

// /* Expand main content area to full width */
// main.content {
//   max-width: 100vw !important;
//   width: 100vw !important;
//   margin: 0 !important;
//   padding: 2rem 2rem;  /* Add some inner spacing */
// }

// /* Make page columns (if used) also full width */
// .page-columns {
//   max-width: 100vw !important;
//   width: 100vw !important;
//   margin: 0 !important;
//   padding: 0 !important;
// }

// /* Optional: Remove sidebar TOC width/margins if interfering */
// .sidebar, .sidebar nav {
//   max-width: 100vw !important;
//   margin: 0 !important;
//   padding: 0 !important;
// }

// /* Optional: Remove navbar margins/padding if needed */
// .navbar {
//   margin: 0 !important;
//   padding: 0 2rem !important;
//   width: 100vw;
// }

.download-btn {
  display: inline-block;
  background-color: #3f9943;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  transition: background-color 0.2s;
}
.download-btn:hover {
  background-color: #1b5e20;
}