// fonts
//@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Roboto+Mono:wght@300&family=Sanchez&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Nunito+Sans:wght@200&family=Roboto+Mono:wght@300&family=Sanchez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito:wght@300;800&family=Roboto+Mono:wght@300;400&family=Sanchez&display=swap');

// Fonts (CSS rules)
$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-serif: 'Sanchez', serif; 
//$font-family-sans-serif: 'Montserrat', sans-serif;
$font-family-monospace: 'Roboto Mono', monospace;

// Colors
$baby-blue: #d2e3f3;
$teal: #047C90;
$dark-blue: #003660;
$white: #FFFFFF;
$green: #78A540; 
$magenta: #900C3F;
$white: #FFFFFF;
$off-white: #F7F7F7; 
$gray: #ADADAD; 
$black: #000000; 

// scss variables
$presentation-title-slide-text-align: "left";
//$presentation-font-size-root: 23px;
$body-bg: $white;
$link-color: $green; 
$code-color: $magenta;
$code-bg: $white;
$code-block-font-size: 0.4em;
$code-block-bg: $off-white;

/*-- scss:rules --*/

// HTML selectors //


/* =Typography
-----------------------------------------------------------------------------*/
body {
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, Serif;
  font-size: 0.90em;
  line-height: 1.5em;
  background-color: #faf8f8;
}

// pre>code {
//   font-family: 'Hack', 'Source Code Pro', 'Courier New', 'Courier', monospace;
// }

form,
input[type="search"],
select[multiple="multiple"] {
  font-family: 'Fira Sans', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Fira Sans', 'Trebuchet MS', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #36454f;
  font-weight: bold;
}

h1 {
  font-size: 1.5em;
  padding-bottom: 1em;
  line-height: 1.6em;
}

h2 {
  font-size: 1.3em;
  border-bottom: 1px solid #b3cde0;
}

h2 a {
  border-bottom: none;
}

h3 {
  font-size: 1.1em;
}

h6 {
  font-size: 0.8em;
}

a {
  color: #36454f;
  text-decoration: none;
  border-bottom: dotted 1px #A1A3A1;
}

a:hover {
  text-decoration: underline;
}

a.active, 
a.current-menu-item {
  background-color: #435968; 
  color: white;             
}


hr {
  border-top: 1px solid #b3cde0;
  margin-top: 5ex;
  margin-bottom: 5ex;
  max-width: 100%;
}

blockquote {
  color: #36454f;
  background: #e9e9e9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-style: normal;
  font-size: 95%;
}

blockquote p {
  color: #36454f;
  display: inline;
}

blockquote:before {
  color: #aaa;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.table {
  --bs-table-bg: @faf8f8 !important;
}

td, th {
  background-color: #faf8f8 !important;
}

table th,
table td {
  border-bottom: 0px !important;
  padding: 0.2em .2em;
}

ul {
  list-style: square;
}

dd {
  margin-left: 2em;
}

// tabset
.custom-tabset-title{
    font-size: $font-size-base * .87;
    font-weight: bold;
    border-bottom: 1px solid #b3cde0;
    color: $teal;
    //position: absolute; 
    left: 20px; 
}

.navbar-nav{
    font-size: $font-size-base * .9;
}

.footer-items{
    font-size: $font-size-base * .8;
}